*
{
  padding:0;
  margin:0; 
  font-family: sans-serif; 
}
.header
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/et.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.header img
{   
    float: left;
    width: 200px;
}
.login-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: none !important;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}
.signup-btn
{
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: none !important;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}
.header h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.header p
{
    margin: 18px 0;
}
.input-group
{
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text
{
    width: 100px;
    background-image:linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
/*features*/
.features
{
  padding: 100px 0;
}

h1
{
    font-family: cursive;
    text-align: center;
    padding-bottom: 30px;

}

.feature-img img
{
  width: 100%;
}

.price
{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color:#fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom:-25px;
}

.feature-img
{
    position: relative;
}

.rating
{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;

}

.features .fa 
{
    font-size: 15px;
    color: #ff5722;
}

.feature-details
{
    padding: 20px;
    text-align: justify;
}

.feature-details h4
{
   font-weight: 600;
   margin-top:20px;
}
.feature-details .fa
{
    margin-right: 5px;

}

.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom:30px;
}

.gallery
{   
    padding: 100px 0;
    background: #efefef;
}

.gallery-box img
{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover
{
    transform: scale(1.1);
}
.gallery-box h4
{
   display: block;
   color: #fff;
   text-shadow: -2px 20px 2px #000;
   font-weight: 600;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
}
.gallery-box
{
    position: relative;
    margin-bottom: 30px;

}
.banner
{
    height: 80%;
    background-image:url(images/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}
.banner-highlights
{
    padding: 70px 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
}

.booking-btn
{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}

.users-feedback
{
    padding: 100px 0;
    
}
.user-review
{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}
.user-review p
{
  padding: 50px 10px 10px 10px;
}
.users-feedback img
{
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;

}

.user-review p::before
{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family:sans-serif;
    left: 44%;
    top:-20px;
}

.footer
{
    padding: 100px 20px 15px;
    background-image:linear-gradient(#2d557d,#9610fb);
    color: #fff;

}
.footer-logo
{
    width: 150px;
    margin-top: 15px;
    margin-bottom:15px;
}

.footer h4
{
  text-align: left;
  margin-top: 15px;
  margin-bottom:25px;

}
.footer p
{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;

}
.footer hr
{
    margin-top:10px;
    background: #efefef;
}
.fa-heart
{
    margin: 0 5px;
    color: #f44336;
}
.footer .copyright
{
    text-align: center;
}

/*india*/
.header1
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header1 img
{   
    float: left;
    width: 200px;
}

.header1 h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.india-info p
{
    padding: 20px 10px 10px 10px;
}
.famous1
{
    padding: 50px 0;
    background: #efefef;
}

/*usa*/
.header2
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header2 img
{   
    float: left;
    width: 200px;
}

.header2 h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.us-info p
{
    padding: 20px 10px 10px 10px;
}
.famous2
{
    padding: 50px 0;
    background: #efefef;
}

/*aus*/

.header3
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner6.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header3 img
{   
    float: left;
    width: 200px;
}

.header3 h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.aus-info p
{
    padding: 20px 10px 10px 10px;
}
.famous3
{
    padding: 50px 0;
    background: #efefef;
}

/*France*/


.header4
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner7.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header4 img
{   
    float: left;
    width: 200px;
}

.header4 h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.fra-info p
{
    padding: 20px 10px 10px 10px;
}
.famous4
{
    padding: 50px 0;
    background: #efefef;
}

/*china*/

.header5
{
  height: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner8.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.header5 img
{   
    float: left;
    width: 200px;
}

.header5 h1
{
    padding-top: 230px;
    padding-bottom: 0;
    font-size: 55px;
}
.chi-info p
{
    padding: 20px 10px 10px 10px;
}
.famous5
{
    padding: 50px 0;
    background: #efefef;
}



/*signup*/



/*button*/


.home-btn
{  
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: none!important;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
    margin-left: 10px !important;
}

.home1-btn
{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: none!important;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: center;
}

.home2-btn
{
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: none !important;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}